<div class="timer-container">
  <div id="countdown" data-controller="session-timer" style="opacity: <%=opacity%>">
    <div id='tiles'></div>
    <div class="labels">
      <li>Hours</li>
      <li>Mins</li>
      <li>Secs</li>
    </div>
  </div>
</div>
