
<%# XP BAR %>
<div class="bar-holder" data-controller="xp">
  <div class="container-bar">
    <div class="bar">
      <div class="progress-fill" id="progress">
      </div>
    </div>
  </div>
  <button class="sesh">session</button>
</div>



<%# The html to do the xp bar to implement someplace %>
 <%# <div>
  <%= render "components/xp_bar" %>
 <%# </div>
