// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #1C3B5A;
$light-blue: #4C8ABC;
$lighter-blue: #4c8abca6;
$gold: #D3B43F;
$salmon: #F0D1B7;
$black: #0C181F;
$dark-grey: #748080;
$middle-grey: #C2C2C2;
$mid-light-grey: #74808024;
$light-grey: #EBEBEB;
$white: #FEFDFD;
$smoke-grey: #666666;



// matt color additions to play with and fondle
$cyan: #49d2fb;
$navy-blue: #040278;
