// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$light-blue: #4C8ABC;
$lighter-blue: #4c8abca6;
$gold: #D3B43F;
$salmon: #F0D1B7;
$black: #0C181F;

$middle-grey: #C2C2C2;
$mid-light-grey: #74808024;

$light-grey: #EBEBEB;


// matt color additions to play with and fondle
$cyan: #69d8fa;
$navy-blue: #040278;
$primary-text: #232D34;
$white: white;
$smoke-grey: #666666;
$light-grey: #EBEBEB;
$dark-grey: #748080;
$dark-blue: #1C3B5A;

$smoke-grey: #666666;

$image-blue: #76D3E6;
$mars-green: #0f8b8b;
