// Specific CSS for your home-page



.butt-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100px;
  border-radius: 20px;
  background-color: $gold;
  p {
    margin: 0 auto;
  }
}
