


.nav-land {
  display: flex;
  background-color: transparent;
}
.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 25px;
  padding-top: 15px;
  p {
    font-size: 18px;
  }
}

// general link properties
.gen-link {
  text-decoration: none;
  color: $gray;
  transition: .3s;
  &:hover {
    color: $navy-blue;
    transition: .3s;
  }
}

// hero section first
.hero {
  background-color: $cyan;
  background-image: url("https://images.unsplash.com/photo-1514454529242-9e4677563e7b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUxfHxjeWFuJTIwc2t5fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  height: 75vh;
  width: 70%;
  margin: auto;
  h1 {
    font-size: 74px;
    margin-bottom: 0;
    font-family: $zodiak;
  }
  p {
    font-family: $satoshi;
    font-size: 22px;
  }
  span {
    color: $navy-blue;
    font-weight: 500;
  }
}

// Landing New
.hero-2 {
  padding: 0px 20px;
}
.container-h {
  border-top:  1px solid $smoke-grey;
}
.hero-container-d {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  width: 100%;
  height: 80vh;
}
.left-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border-right: 1px solid $smoke-grey;
  height: 90%;
  margin-top: 20px;
  h1 {
    font-size: 64px;
    margin-bottom: 0;
    font-family: $zodiak;
  }
      p {
    font-family: $satoshi;
    font-size: 18px;
  }
      span {
    color: $navy-blue;
    font-weight: 500;
  }
}

.right-hero {
  display: flex;
  justify-content: center;
  margin: 60px;
  background-image: url("https://images.pexels.com/photos/2167395/pexels-photo-2167395.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
  // background-image: url("https://images.unsplash.com/photo-1514454529242-9e4677563e7b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTUxfHxjeWFuJTIwc2t5fGVufDB8MHwwfHw%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

// landing button

.land-button {
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  font-family: $zodiak;
  font-size: 26px;
  background-color: $light-gray;
  color: $navy-blue;
  &:hover {
    color: $navy-blue;
  }
}

//--------- white section ------------
.about {
  padding-bottom: 30px;
}
.explain-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}
.how-it-works {
  margin-top: 50px;
  margin-bottom: 50px;
  h3 {
    font-family: $satoshi;
    font-weight: 400;
    font-size: 32px;
  }
}
.columns {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  width: 100%;
  gap: 25px;
  margin: 50px 0px;
  h4 {
    font-size: 24px;
    font-family: $satoshi;
    font-weight: 300;
  }
  span {
    color: $navy-blue;
    padding-right: 5px;
    font-weight: 500;
  }
}
.right {
  padding-top: 25%;
  margin-bottom: 30px;
}
.left {
  margin-bottom: 30px;
}

.timer {
  position: absolute;
  bottom: 80px;
}



// Button on homepage that we can mess around with
.cta {
  margin-top: 60px;
  transition: transform .4s;
  &:hover {
    transition: .4s;
    transform: scale(1.05);
  }
  .button {
    padding: 10px 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 28px;
  }
}
