// main page container to have two columns
.page-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
// holds the profile content in a fixed size
.profile-container {
  max-width: 1200px;
  margin: 25px 50px 50px 50px;
  display: flex;
  flex-direction: column;
}
// sets up the column widths for the stats n shit
.p-column-container {
  display: grid;
  grid-template-columns: 3fr 1fr; //add columns here if you want to make the tab section different layout
  gap: 30px;
}
// Start of the nav bar on the side
.left-p {
  display: flex;
  // justify-content: center;
  flex-direction: column;
  background-color: $white;
  height: 100%;
}
.title-corner {
  display: flex;
  justify-content: center;
  padding: 20px;
  h4 {
    font-size: 36px;
    font-family: $zodiak;
    font-weight: 400;
  }
  a {
    text-decoration: none;
    color: $black;
  }
}
.profile-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 10px 10px 10px;
  border-bottom: 1px solid $smoke-grey;
}


.nav {
  padding: 15px 0px 15px 5px;
  align-items: center;
  a {
    position: relative;
    padding: 15px 0px 15px 5px;
    width: 100%;
    text-align: center;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .active {
    background-color: $light-gray;
    transition: opacity .4s;
    color: $smoke-grey;
  }
  .active::after {
    content: "";
    position: absolute;
    background-color: transparent;
    bottom: -30px;
    right: 0px;
    height: 30px;
    width: 20px;
    border-top-right-radius: 15px;
    box-shadow: 0 -15px 0 0 $light-gray;
    opacity: 1;
  }
  .active::before {
    content: "";
    position: absolute;
    background-color: transparent;
    top: -30px;
    right: 0px;
    height: 30px;
    width: 20px;
    border-bottom-right-radius: 15px;
    box-shadow: 0 15px 0 0 $light-gray;
    opacity: 1;
  }
}



// Template Card Section
.template-container {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}
.header-p {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 15px;
  h3 {
    font-family: $zodiak;
    font-weight: 350;
  }
}
.environments {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 10px;
}
.environments::before {
  content: '';
  position: absolute;
  background-color: black;
  bottom: -10px;
  height: 1px;
  width: 97%;
}
// The cards need to be separate for now because static backgrounds
.template-card-dash {
  width: 220px;
  height: 145px;
  background-image: url(background_snap.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 20px;
}
.template-card-dash-2 {
  width: 220px;
  height: 145px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 20px;
}
