
.profile-container {
  max-width: 1200px;
  margin: 0 auto;
}
.p-column-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
}
.profile_quote {
  span {
    font-size: 28px;
    font-family: $zodiak;
  }
  padding-top: 25px;
  margin-top: 20px;
  padding-bottom: 50px;
  font-size: 18px;
  color: $primary-text;
  font-weight: 400;
}

<<<<<<< HEAD
.profile_quote_white {
  background-color: $primary-text;
  padding: 2px;
  font-family: $inria;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-radius: 1px;
}

.themes-container {
  display: flex;
}
=======


// .right-container {
//   max-width: 1100px;
//   margin-left: 50px;
// }
// .profile-column-right {
//   max-width: 1000px;
//   display: flex;
//   justify-content: flex-start;
// }
// .profile_banner {
//   width: 100%;
//   height: 235px;
//   z-index: 1;
//   margin-top: -80px;
// }

// .profile-left {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: flex-start;
// }

// .profile-page {
//   display: grid;
//   max-width: 1250px;
//   margin: 0 auto;
//   grid-template-columns: 1184fr 328fr;
//   padding: 10px;
//   gap: 36px;
// }

// .profile_quote_div {
//   display: flex;
//   justify-content: center;
//   padding: 28px;
// }
>>>>>>> c3c54a941698168af50905fde3933f48e08f0104
