.profile_banner {
  width: 100%;
  height: 235px;
  z-index: 1;
  margin-top: -80px;
}

.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.profile_right {
  margin-top: 39.5px;
}

.profile-page {
  display: grid;
  width: 100%;
  grid-template-columns: 1184fr 328fr;
  padding: 36px;
  gap: 36px;
}

.profile_quote_div {
  margin-left: 219px;
  margin-top: 34px;
  margin-bottom: 25px;
}
.profile_quote {
  font-family: $inria;
  font-size: 16px;
  color: $primary-text;
  font-weight: 400;
}

.profile_quote_white {
  background-color: $primary-text;
  padding: 2px;
  font-family: $inria;
  font-size: 16px;
  font-weight: 400;
  color: white;
  border-radius: 1px;
}
