<div class="image-mountain">
<%# Image here in the CSS file %>
  <%# <%= render "shared/pomodoro" %>
  <div class="timer-location">
    <%= render "shared/minimal_timer", opacity: 1 %>
  </div>
</div>
