 <div class="parent">
 <%= video_tag "final 3 10 MB.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "bg-video3" %>
  <iframe class="youtube3" width="350" height="200 " src="https://www.youtube.com/embed/UE8VKhM9KBs?rel=0&modestbranding=1&autohide=1&mute=0&showinfo=0&controls=0&autoplay=1" frameborder="0" allowfullscreen></iframe>
  <%= render "components/session_timer", opacity: 0.65 %>
  <%= render "components/leave-button" %>
</div>
