<div class="parent">
<div class="container-theme">
  <%= video_tag "final 4 10 MB.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "bg-video" %>
  <%= render "components/session_timer", opacity: 0.65 %>
<<<<<<< HEAD
=======
</div>
>>>>>>> 40a4f68682e0fe3d8122f83fb566918b0a15423a
</div>
