<div class="container-theme">
  <%= video_tag "final 1 10 MB.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "bg-video" %>
  <iframe class="youtube" width="260" height="150" src="https://www.youtube.com/embed/Mnt4VO9uH1E" title="YouTube video player" frameborder="5" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <%= render "components/countdown_timer", opacity: 0.65 %>
</div>
