<h1>hello</h1>

<%= link_to "Quickstart", theme_study_sessions_path(@themes.first), data: { turbo_method: :post } %>

    <div>
      <% @themes.each do |theme| %>
        <%= render "shared/template_card_profile", theme: theme %>
      <% end %>
    </div>
