
<div>
  <%= render @study_session.theme.render%>
  <%= link_to "Leave Session", study_session_update_duration_path(@study_session), data: { turbo_method: :patch} %>
  <div class="session">
    <%= render "shared/session_form" %>
  <div>
  </div>
</div>
