
<div data-controller="session-timer">
  <%= render @study_session.theme.render%>
  <div>
    <%= link_to "Leave Session Early", study_session_update_duration_path(@study_session, modal_param: true),  data: { turbo_method: :patch}, id: "leave-session" %>
  </div>
  <div class="session">
    <%= render "shared/session_form" %>
  <div>
  </div>
</div>
