<%# sexy feeter %>
<div class="footer-container">
  <div class="footer-content">
    <div class="left-f">
      <p>Deepwork.</p>
    </div>
    <div class="right-f">
      <p>Investors</p>
      <p>Careers</p>
    </div>
  </div>
</div>
