<div class="timer-container">
  <div id="countdown-minimal" data-controller="countdown-timer" style="opacity: <%=opacity%>">
    <div id='tiles'></div>
    <div class="labels-minimal">
      <%# <li>Hours</li>
      <li>Mins</li>
      <li>Secs</li> %>
    </div>
  </div>
</div>
