<%# Pomodoro Timer %>
<div id="pomodoro-app" data-controller="pomodoro">
  <div id="container-time">
    <div id="timer-2">
      <div id="time-2">
        <span id="minutes">25</span>
        <span id="colon">:</span>
        <span id="seconds">00</span>
      </div>
      <div id="filler-2"></div>
    </div>

    <div id="buttons-2">
      <button id="work">Start</button>
      <button id="shortBreak">Short Break</button>
      <button id="longBreak">Long Break</button>
      <button id="stop">Stop</button>
    </div>
  </div>
</div>
