<%# Settings Options Here %>


<div class="settings-container">
  <div class="settings-list">
    <p> <%= link_to "Your Account", profile_path, class: "simple-link"  %> </p>
    <p> <%= link_to "Log Out", destroy_user_session_path, class: "simple-link" %></p>
  </div>
</div>
