<div class="task-box">
  <h2 class="task-heading">To Do List</h2>
  <div class="task-list">
    <div class="task-form">
      <input class="input-box" type="text">
      <button class="task-button" >Add</button>
    </div>
    <div class="task-items">
      <ul>
        <li><input type="checkbox"><label>wtf cunt</label></li>
        <li><input type="checkbox"><label>wtf cunt</label></li>
        <li><input type="checkbox"><label>wtf cunt</label></li>
        <li><input type="checkbox"><label>wtf cunt</label></li>
        <li><input type="checkbox"><label>wtf cunt</label></li>
        <li><input type="checkbox"><label>wtf cunt</label></li>
        <li><input type="checkbox"><label>wtf cunt</label></li>
        <li><input type="checkbox"><label>To Do</label></li>
      </ul>
    </div>
  </div>
</div>
