<div class="task-box">
  <div class="task-list">
  <h2 class="task-heading">Topic List</h2>
    <div class="task-form">
      <%# <input class="input-box" type="text"> %>
      <button class="task-button" >add</button>
    </div>
    <div class="task-items">
      <ul>
        <li><input type="checkbox"><label>History</label></li>
        <li><input type="checkbox"><label>Biology</label></li>
        <li><input type="checkbox"><label>Physics</label></li>
        <li><input type="checkbox"><label>Coding</label></li>
        <li><input type="checkbox"><label>Mathematics</label></li>
      </ul>
    </div>
  </div>
</div>
