<%# sessions container %>
<% if action_name == "home" %>
<div class="small-container">
  <div class="title-content">
    <h3>sessions</h3>
  </div>
  <div class="content-container">
    <div class="template-card" id="card-1">
      <p> </p>
    </div>
    <div class="template-card-2" id="card-2">
      <p></p>
    </div>
    <div class="template-card-3" id="card-3">
      <p></p>
    </div>
    <div class="template-card-4" id="card-4">
      <p></p>
    </div>
  </div>
</div>
<% else %>
<div class="small-container-p">
  <div class="title-content">
    <h3>sessions</h3>
  </div>
  <div class="content-container">
    <div class="template-card" id="card-1">
      <p> </p>
    </div>
    <div class="template-card-2" id="card-2">
      <p></p>
    </div>
    <div class="template-card-3" id="card-3">
      <p></p>
    </div>
    <div class="template-card-4" id="card-4">
      <p></p>
    </div>
  </div>
</div>
<% end %>
