<%# Partial that is rendered into the tab on the profile dashboard %>
<div class="theme-container">
  <div class="theme-content">
    <% @themes.each do |theme| %>
      <h3><%= link_to theme.name, theme_study_sessions_path(theme), data: { turbo_method: :post }, class: "index-list" %></h2>
      <div class="template-card-dash-2"></div>
    <% end %>
  </div>
</div>
