<%# Partial that is rendered into the tab on the profile dashboard for the total list of themes %>

<div class="tab-container">
<% @themes_reverse.each do |theme| %>
  <div class="environments-container">
    <div class="template-card-dash-2" style="background-image: url(<%=theme.thumbnail%>);">
    </div>
    <div class="envr-content">
      <div class="envr-title">
        <h4><%= theme.name.capitalize %></h4>
      </div>
      <div class="description">
        <p>Duration: <%= theme.study_duration %> minute session</p>
        <p>Vibes: <%= @vibes.sample.capitalize %></p>
      </div>
    </div>
  </div>
<% end %>
</div>
