
<%= render "shared/final_land_nav" %>


<section class="hero-2">
  <div class="container-h">
    <div class="hero-container-d">
      <%# <h1>Deepwork.</h1> %>
      <div class="left-hero">
        <h1>Get shit done.</h1>
        <p><span>Construct your atmosphere</span></p>
        <div class="cta">
        <% if current_user %>
          <p><%= link_to "Quickstart", quickstart_path, method: :post, class:"button-home", data: { turbo_method: :post } %></p>
        <% else %>
        <p><%= link_to "Quickstart", quickstart_path, method: :post, class:"button-home", data: { turbo_method: :post }, onClick: "return showError()" %></p>
        <% end %>
        </div>
      </div>
      <div class="right-hero">
      </div>
    </div>
  </div>
</section>




<%# About Section %>
<section class="about">
  <div class="container">
    <div class="explain-container">
      <div class="how-it-works">
        <h3>Why use Deepwork.</h3>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>1</span> View your Profile </h4>
          <p>With an account you can begin your journey towards enhanced focus</p>
          <div class="profile-img">
          </div>
        </div>
        <div class="right">
          <h4><span>2</span> Select your desired focus enviroment</h4>
          <p>With a number of neurological, motivational and psychological tools
          at your disposal, construct or choose an environment that induces your maximum
          focus. Of course everyone is different so make it yours!
          </p>
          <%# <div class="profile-environment">
          </div> %>
        </div>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>3</span> Start a Session</h4>
          <p>This your time to get down to work and truly get into the zone, no distractions!</p>
          <%# <div class="stats-img">
          </div> %>
        </div>
        <div class="right">
          <h4><span>4</span> Track your stats as you go</h4>
          <p>See a wide array of different stats based on your previous sessions, monitor your progress, and get rewarded while leveling-up!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>

<script>
  function showError() {
    alert("You must be logged in to use Quickstart");
    return false;
  }
</script>
