<%# Landing Nav %>
<section class="hero">
  <div class="nav-land">
    <div class="content">
      <div class="left-nav">
      </div>
      <div class="right-nav">
        <p><%= link_to "sign in", new_user_session_path, class: "gen-link" %></p>
      </div>
    </div>
  </div>


<%# Container content %>

  <div class="container">
    <div class="hero-container">
      <h1>Deepwork.</h1>
      <p>construct your atmosphere to <span>get shit done.</span></p>
      <div class="cta">
        <%= render "components/secondary_button" %>
      </div>
    </div>
  </div>
</section>

<%# About Section %>
<section class="about">
  <div class="container">
    <div class="explain-container">
      <div class="how-it-works">
        <h3>How it Works</h3>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>1</span> Choose a template for your session</h4>
          <div class="cards">
            <%= render "shared/template_card" %>
          </div>
        </div>
        <div class="right">
          <h4><span>2</span> Select your session intention and timeframe</h4>
        </div>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>3</span> Begin your customized session</h4>
        </div>
        <div class="right">
          <h4><span>4</span> Once complete, see your session stats</h4>
        </div>
      </div>
    </div>
  </div>
</section>
