
<%= render "shared/final_land_nav" %>


<section class="hero-2">
  <div class="container-h">
    <div class="hero-container-d">
      <%# <h1>Deepwork.</h1> %>
      <div class="left-hero">
        <h1>Get shit done.</h1>
        <p><span>Construct your atmosphere</span></p>
        <div class="cta">
           <p><%= link_to "Quickstart", quickstart_path, class:"button-home" %></p>
        </div>
      </div>
      <div class="right-hero">
      </div>
    </div>
  </div>
</section>




<%# About Section %>
<section class="about">
  <div class="container">
    <div class="explain-container">
      <div class="how-it-works">
        <h3>Why use Deepwork.</h3>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>1</span> Create an account, go to your profile page</h4>
          <div class="profile-img">
          </div>
        </div>
        <div class="right">
          <h4><span>2</span> Select your desired focus enviroment</h4>
          <div class="profile-environment">
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="left">
          <h4><span>3</span> Once complete, see your session stats</h4>
          <div class="stats-img">
          </div>
        </div>
          <%# <h4><span>3</span> Once complete, see your session stats</h4>
          <div class="cards">
            <%# <%= render "components/stats_card" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render "shared/footer" %>
