<div class="container-ani">
<%= video_tag "veedreduc2.mp4", autoplay: true %>

    <%# Clock %>
    <div class="clock-container">
      <%= render "components/session_timer", opacity: 0.65 %>
    </div>
   <script src="https://apps.elfsight.com/p/platform.js" defer></script>
<div class="elfsight-app-7b849553-0241-4fc5-b7a8-ac7ecb0156b1"></div>

    <div class="spotify-card">
      <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/37i9dQZF1DX5trt9i14X7j?utm_source=generator" width="300" height="80" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
  </div>
</div>
