.primary-button {
  background-color: $cyan;
  border: 0;
  border-radius: 56px;
  color: $black;
  display: inline-block;
  font-size: 18px;
  font-family: Zodiak;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 4px;
  overflow: hidden;
}

.primary-button:before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, 0.904) 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 3%;
  opacity: .3;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 94%;
}

.primary-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .primary-button {
    padding: 16px 48px;
  }
}

.secondary-button {
  background-color: $white;
  color: $black;
  border: 0;
  border-radius: 56px;
  display: inline-block;
  font-size: 20px;
  font-family: Renade;
  font-weight: 500;
  letter-spacing: 0.4px;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 4px;
  overflow: hidden;
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;

}

.secondary-button:before {
  background-color: initial;
  background-image: linear-gradient(rgba(255, 255, 255, 0.904) 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 2%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 96%;
}

.secondary-button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .secondary-button {
    padding: 16px 48px;
  }
}
