.hub-container {
  width: 1200px;
  margin: 0 auto;
}

.theme-form-container {
  margin: 24px auto auto auto;
  padding: 30px;
  width: 500px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 8px $dark-grey;
}

.landing-card-sm-container {
  margin: 0 auto;
  margin-top: 40px;
}
