.hub-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

.profile-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.button-flex {
  display: flex;
  justify-content: space-between;
}

.theme-form-container {
  margin: 24px auto auto auto;
  padding: 30px;
  width: 500px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 8px $dark-grey;
}

.landing-card-sm-container {
  margin: 0 auto;
  margin-top: 40px;
}
