.hub-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.container-theme {
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-video {
  height: 100%;

}

.profile_left {
  height: 94%;
}

.profile-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

// .button-flex {
//   display: flex;
//   justify-content: space-between;
// }


.theme-form-container {
  margin: 24px auto auto auto;
  padding: 30px;
  width: 500px;
  background-color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 8px $dark-grey;
}


// Stats card alternat containers for homepage
.landing-card-sm-container {
  margin: 0 auto;
  margin-top: 40px;
}
.landing-stats-container-sm {
  width: 35vw;
  padding: 2px;
  box-shadow: 1px 1px 8px $dark-grey;
  border-radius: 25px;
  overflow: hidden;
  margin: 6px;
  img {
    height: 60px;
    width: 60px;
    border-radius: 25px;
  }
}
