

// footer pre-partial

.footer-container {
  border-top: 1px solid $smoke-grey;
  margin: 50px 20px 20px 0px;
  font-family: $zodiak;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-top: 20px;
  margin: 5px 50px 10px;
}
.left-f {
  p {
    font-size: 24px;
  }
}
.right-f {
  display: flex;
  p {
    padding-top: 5px;
    margin: 0 20px;
  }
}



@media only screen and  (min-width: 200px) and (max-width: 700px) {
  .footer-container {
    margin: 0px;
  }
  .footer-content {
    margin: 0px;
    padding: 20px 10px 5px;
  }
  .right-f {
    p {
      margin: 0px 10px;
    }
  }
}
