.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
}

.modal-content {
  border-radius: 20px;
  opacity: 90%;
  text-align: center;
}
