.session-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 300px;
}

.modal-content {
  border-radius: 20px;
  opacity: 95%;
  text-align: center;
}


// Session End Form
#header {
  h1 {
    font-size: 26px;
  }
}
