.form-container {
  max-width: 600px;
  margin: auto;
  height: 95vh;
  display: flex;
  flex-direction: column;
  // background-color: $white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 10px;
}

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    text-align: center;
    font-family: $zodiak;
  }
}
.form-inputs {
  border-radius: 5px;
  &:focus {
    background-color: $white;
    border-color: $white;
  }
}
.form-actions {
  display: flex;
  padding: 5px;
  flex-direction: column;
}
.submit-button {
  padding: 5px 15px;
  border-top: 1px solid $smoke-grey;
  border-bottom: 1px solid $smoke-grey;
  margin-bottom: 10px;
  &:hover {
    color: $smoke-grey;
    border-top: 1px solid $smoke-grey;
    border-bottom: 1px solid $smoke-grey;
  }
}
