.stats-container {
  width: 50vw;
  padding: 2px;

  img {
    height: 60px;
    width: 60px;
    border-radius: 25px;
  }
}

.progress {
  width: 100%;
  height: 20px;
  background: $white;
  border-radius: 25px;
}

.progress-fill-1 {
  width: 69%;
  height: 100%;
  background-color: $middle-grey;
}

.progress-fill-2 {
  width: 23%;
  height: 100%;
  background-color: $middle-grey;
}
.progress-fill-3 {
  width: 69%;
  height: 100%;
  background-color: $middle-grey;
}

.progress-text, .progress-bar-text {
  text-align: center;
}

.nav-link {
  color: $gold;
  border: none;

  &:hover {
    color: $light-grey;
    border: none;
  }
}

.tab-pane {
  background-color: $light-grey;
  border-radius: 25px;
  padding-left: 36px;
  padding-top: 16px;
}

.nav-tabs {
  background-color: $dark-blue;
  border-radius: 25px;
  overflow: hidden;
  width: 100%;

    .active {
    color: $light-grey !important;
    background-color: $dark-blue !important;
    border: none;
  }
    &:hover {
    border: none;
  }
}

.photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;

  p {
    margin: 0px;
  }
}
