.task-list {
  font-family: 'Ranade', sans-serif;
  height: 406px;
  color: #1C3B5A;
  background-color: $white;
  box-shadow: 1px 1px 8px $dark-grey;
  width: 250px;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
}

.task-box {
  font-family: 'Ranade', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-heading {
  align-items: center;
  padding: 0px;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.task-form {
  margin-bottom: 20px;
}

.task-items {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
}
.task-items ul {
  padding: 0px;
  list-style: none;
}

.task-items li {
  padding: 2px;
  margin-bottom: 15px;
  background-color: $white;
  border-radius: 10px;
  width: 250px;
  // box-shadow: 1px 1px 8px $dark-grey;
  // align-items: flex-start;
}

.task-items li:hover {
  background-color: $dark-grey;
}


.task-list input {
  margin: 10px;
  box-shadow: 1px 1px 2px $dark-grey;
  border: none;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.input-box {
  width: auto;
}

.task-button {
  border-radius: 5px;
  border: none;
  background-color: rgb(26, 223, 127);
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
