.tease-background {
  display: flex;
  height: 100vh;
  background-image: url('assets/background_snap.png');
  margin: 0;
  background-position: center;
  background-size: 1440px 820px;
  position: relative;
}

.tease {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: auto;
  width: 30vw;
  // height: 70vh;
  box-shadow: 1px 1px 8px $dark-grey;
  padding: 3em 1em 3em 1em;
  border-radius: 5px;
  background-color: $white;
  color: $black;

  .progress-fill-1 {
    width: 30%;
    background-color: $cyan;
  }
}

.tease-header {
  text-align: center;
  // margin: 1em auto 4em auto;

  h3 {
    font-family: $zodiak;
    font-size: 36px;
  }
}

.tease-content {
  padding: 0px 16px;
}

.tease-buttons {
  display: flex;
  justify-content: space-around;

  a {
    text-decoration: none;
    color: $black;
  }

  .secondary-button {
    background-color: $light-grey;
  }
}

.sign-up {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
}

.spotify-card {
  position: absolute;
  top: 28vh;
  left: 1vw;
}
