

//----------DISPLAY CARDS Landing--------------
// container for cards
.small-container {
  height: 275px;
  width: 360px;
  // border-right: 1px solid $dark-grey;
  // border-bottom: 1px solid $dark-grey;
  display: flex;
  justify-content: center;
  margin: 15px;
  position: relative;
}
.content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:hover #card-1 {
    transform: translate(0%, 0);
    transform: rotate(-5deg);
    transition: .2s;
  }
  &:hover #card-2 {
    transform: translate(50%, 5%) rotate(-10deg);
    transition: .30s;
  }
  &:hover #card-3 {
    transform: translate(90%, 5%) rotate(-15deg);
    transition: .45s;

  }
  &:hover #card-4 {
    transform: translate(120%, 5%) rotate(-20deg);
    transition: .60s;
  }
}
.title-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  height: 40px;
  width: 150px;
  background-color: $cyan;
  border-radius: 25px;
  h3 {
    font-family: $satoshi; //interesting font may change sometime soon
    margin-bottom: 5px;
  }
}
.template-card {
  position: absolute;
  left: 30px;
  z-index: 20;
  display: flex;
  align-items: center;
  width: 200px;
  height: 125px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $navy-blue;
  transition: .3s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}
.template-card-2 {
  position: absolute;
  z-index: 9;
  left: 65px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 125px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $dark-blue;
  transition: .6s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}
.template-card-3 {
  position: absolute;
  z-index: 8;
  left: 95px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 125px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $dark-grey;
  transition: .5s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}
.template-card-4 {
  position: absolute;
  z-index: 7;
  left: 125px;
  display: flex;
  align-items: center;
  width: 200px;
  height: 125px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $cyan;
  transition: .35s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}

// landing single card
.template-card-landing{
  position: absolute;
  left: 0px;
  z-index: 20;
  display: flex;
  align-items: center;
  width: 350px;
  height: 255px;
  border-radius: 25px;
  margin-top: 20px;
  background-image: url(background_snap.png);
  background-size: cover;
  background-repeat: no-repeat;
  transition: .3s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}



// ----------------------CARDS FOR MULTIPLE-------------------------
// container for cards
.small-container-p {
  height: 170px;
  width: 209px;
  display: flex;
  justify-content: center;
  margin: 15px;
  position: relative;
}
.content-container-p {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
  &:hover #card-1 {
    transform: translate(0%, 0);
    transform: rotate(-5deg);
    transition: .2s;
  }
  &:hover #card-2 {
    transform: translate(50%, 5%) rotate(-10deg);
    transition: .30s;
  }
  &:hover #card-3 {
    transform: translate(90%, 5%) rotate(-15deg);
    transition: .45s;

  }
  &:hover #card-4 {
    transform: translate(120%, 5%) rotate(-20deg);
    transition: .60s;
  }
}
.title-content-p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
  height: 30px;
  width: 100px;
  background-color: $cyan;
  border-radius: 25px;
  h3 {
    font-size: 18px;
    font-family: $satoshi; //interesting font may change sometime soon
    margin-bottom: 5px;
  }

}
.template-card-p {
  position: absolute;
  left: 0px;
  z-index: 20;
  display: flex;
  align-items: center;
  width: 120px;
  height: 80px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $navy-blue;
  transition: .3s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}
.template-card-2-p {
  position: absolute;
  z-index: 9;
  left: 30px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 80px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $dark-blue;
  transition: .6s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}
.template-card-3-p {
  position: absolute;
  z-index: 8;
  left: 60px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 80px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $dark-grey;
  transition: .5s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}
.template-card-4-p {
  position: absolute;
  z-index: 7;
  left: 90px;
  display: flex;
  align-items: center;
  width: 120px;
  height: 80px;
  border-radius: 25px;
  margin-top: 20px;
  background-color: $cyan;
  transition: .35s;
  transform-origin: center 120%;
  p {
    margin: 0 auto;
  }
  &:active {
    transform: scaleX(5%);
    z-index: 10000;
  }
}
