// Theme card tab design

.theme-container {
  display: flex;
  flex-direction: column;
}
.theme-content {
  display: flex;
  flex-direction: column;
}


// title links
.index-list {
  list-style: none;
  text-decoration: none;
  list-style: none;
  color: black;
}
