.topic-container {
  font-family: $satoshi;
  height: 406px;
  color: $primary-text;
  background-color: #EDF1F4;
  // width: 250px;
  width: 100%;
  padding: 10px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.topic-list {
  height: inherit;
  text-align: center;
  align-items: center;
}

.topic-heading {
  font-size: 20px;
  padding: 0px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  text-align: center;
  border-bottom: solid 1px #CAD6E2 ;
  background-color: #EDF1F4;
  color: $primary-text;
  display: inline-block;
  font-size: 20px;
}

.topic-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topic-items {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topic-items ul {
  padding: 0px;
  list-style: none;
  text-align: center;
}

.topic-items li {
  padding: 2px;
  margin-bottom: 15px;
  background-color: #CAD6E2;
  width: 250px;
  list-style: none;
  text-align: center;
  align-items: center;
  // box-shadow: 1px 1px 8px $dark-grey;
  // align-items: flex-start;
}

.topic-items li:hover {
  color: white;
}


.topic-container input {
  border: none;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.input-box {
  width: auto;
}

.topic-button {
  border: none;
  background-color: $primary-text;
  color: white;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#multiCollapseExample1 {
  background-color: #CAD6E2;
  box-shadow: none;
  border-radius: 0px;
  width: 100%;

}

.card-body {
  background-color: #CAD6E2;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  margin-top: 5px;
}
