.topic-container {
  font-family: $satoshi;
  // height: 406px;
  color: $primary-text;
  background-color: transparent;
  // width: 250px;
  width: 100%;
  padding: 10px;
  // padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // overflow-y: scroll;
  // border-left: 1px solid $smoke-grey;
  border-radius: 5px;
  // box-shadow: inset 1px 1px 6px 0px rgb(206, 193, 193);
}


.topic-list {
  text-align: center;
  align-items: center;
  // position: relative;
}


.topic-heading {
  margin-top: 20px;
  font-size: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  text-align: center;
  // border-bottom: solid 1px #CAD6E2 ;
  // background-color: $white;
  color: $primary-text;
}

.topic-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topic-items {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.topic-items ul {
  padding: 0px;
  list-style: none;
  text-align: center;
}

.topic-items li {
  padding: 2px;
  margin-bottom: 15px;
  background-color: transparent;
  // width: 250px;
  padding: 5px 15px;
  list-style: none;
  text-align: center;
  align-items: center;
  // box-shadow: 1px 1px 8px $dark-grey;
  // align-items: flex-start;
}

.topic-items li:hover {
  color: $smoke-grey;
}


.topic-container input {
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.input-box {
  width: auto;
}

.topic-button {
  border: none;
  background-color: $primary-text;
  color: $smoke-grey;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#multiCollapseExample1 {
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
  width: 100%;
  border: 1px solid $smoke-grey;
}

.card-body {
  background-color: transparent;
  box-shadow: none;
  border-radius: 0px;
  border: none;
  // margin-top: 5px;
}
