
.image-mountain {
  background-image: url("https://images.unsplash.com/photo-1414497370617-1d23dd92ab2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  // position: fixed;
  position: relative;
}

.timer-location {
  position: absolute;
  top: 25vh;
  width: 100%;
  // top: 290px;
  left: -30vw;
}

.leave-button-container {
  position: absolute;
  top: 72.5%;
  left: 60%;
  transform: rotate(3.9deg);
  a {
    font-size: 28px;
    letter-spacing: 2px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 3px 3px 3px rgb(0, 0, 0);
  }
}
