.bg-video {
  position: fixed;
}

.bg-video2 {
  position: fixed;
}
.bg-video3 {
  position: fixed;
}

.parent {
  position: relative;
}

.youtube {
  position: absolute;
    top: 58vh;
    border-radius: 5px;
    left: 45.5vw;
}

.youtube2 {
  position: absolute;
    top: 33vh;
    border-radius: 5px;
    left: 6vw;
    opacity: 0.7;
}

.youtube3 {
  position: absolute;
    top: 43vh;
    border-radius: 5px;
    left: 39vw;
    opacity: 0.7;
}

.youtube4 {
  position: absolute;
    top: 6vh;
    border-radius: 5px;
    left: 5vw;
    opacity: 0.5;
}


.leave-button {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}
