.bg-video {
  position: fixed;
  left: 0px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

.bg-video2 {
  position: fixed;
  left: 0px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}
.bg-video3 {
  position: fixed;
  left: 0px;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

.parent {
  position: relative;
}

.youtube {
  position: absolute;
    top: 2vh;
    border-radius: 5px;
    left: 4vw;
    opacity: .6;
}

.youtube2 {
  position: absolute;
    top: 33vh;
    border-radius: 5px;
    left: 6vw;
    opacity: 0.7;
}

.youtube3 {
  position: absolute;
    top: 43vh;
    border-radius: 5px;
    left: 39vw;
    opacity: 0.7;
}

.youtube4 {
  position: absolute;
    top: 6vh;
    border-radius: 5px;
    left: 5vw;
    opacity: 0.5;
}


.leave-button {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}

.theme-intention-light {
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translateX(-50%);
  margin: auto;
  font-size: 30px;
  font-family: "Satoshi", "sans-serif";
  color: $white;
}

.theme-intention-dark {
  position: absolute;
  left: 50%;
  top: 50vh;
  transform: translateX(-50%);
  margin: auto;
  font-size: 30px;
  font-family: "Satoshi", "sans-serif";
  color: $primary-text;
}

.int-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
