.bg-video1 {
  height: 114vh;
  width: 100vw;
  position: absolute;
}

.bg-video2 {
  height: 114vh;
  width: 100vw;
  position: absolute;
  margin-top: -100px;
}
.bg-video3 {
  height: 113vh;
  width: 100vw;
  position: absolute;
  margin-top: -20px;

}

.youtube {
  position: absolute;
    top: 432px;
    border-radius: 5px;
    left: 687px;
}

.youtube2 {
  position: relative;
    top: 197px;
    border-radius: 5px;
    left: 96px;
}

.youtube2 {
  position: relative;
    top: 320px;
    border-radius: 5px;
    left: 585px;
}

.leave-button {
  position: relative;
  padding: 5px 10px;
  text-decoration: none;
  font-size: 15px;
  margin: 10px;
}
